/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%; /* Réinitialisation de la taille de la police pour faciliter le rem */
}
body {
    font-size: 1.6rem; /* 16px */
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}


/* Code */
body {
    background-color: #121212; /* noir mat */
    color: white; /* écriture blanche */
    font-family: Arial, sans-serif;
}

.login-form {
    background-color: #22543A; /* vert foncé */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.login-form input[type="text"],
.login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}
.login-form button {
    padding: 10px 20px;
    background-color: white;
    color: #22543A;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    position: relative; /* Ajouté pour permettre la position absolue du logo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    position: absolute; /* Logo en position absolue */
    top: 20%; /* Distance du haut */
    left: 50%; /* Centrage horizontal */
    transform: translateX(-50%); /* Ajustement du centrage */
    max-width: 400px;
}


/* Seconde page */
.welcome {
    background-color: #121212; /* noir mat */
    color: white; /* écriture blanche */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.logoTop {
    position: absolute; /* Logo en position absolue */
/* mettre le logo en haut et au milieu */
    margin : auto;
    top: 0;
    width: 25%;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
}


/* ... autres styles ... */

.image-container a:hover img {
    animation: pulse 1s infinite;
    box-shadow: 0 0 15px #FFF;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.image-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 30px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-text {
    text-align: center;
    margin-top: 10px;
}

.image-text {
    text-align: center;
    margin-top: 10px;
}


.container {
    text-align: center;
}

#addAgentBtn {
    margin: 20px;
}

.agent-item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}


/* ... autres styles ... */

#agentList {
    margin-top: 20px;
    border-radius: 10px; /* Bords arrondis pour la liste entière */
}

.agent-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee; /* Ligne de séparation entre les éléments de la liste */
    border-radius: 10px; /* Bords arrondis pour chaque élément de la liste */
}

.agent-item button {
    background-color: #ff4b5c; /* Couleur de fond du bouton de suppression */
    color: white; /* Couleur du texte du bouton de suppression */
    border: none; /* Supprime la bordure du bouton de suppression */
    padding: 5px 10px; /* Espacement interne du bouton de suppression */
    cursor: pointer; /* Change le curseur au survol du bouton de suppression */
    margin-left: 20px;
    border-radius: 5px; /* Bords arrondis pour le bouton de suppression */
}


.logoTopAgent {
    position: absolute;
    margin : auto;
    top: 0;
    width: 25%;
}

.agent-form {
    background-color: #153323;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 40%;
    margin-top: 150px;
}
.agent-form input[type="text"],
.agent-form input[type="time"] {
    margin-bottom: 5px;
    padding: 3px;
    width: 100px;
    border: none;
    border-radius: 3px;
    background-color: #6a6868;
}
.agent-form button {
    padding: 5px 10px;
    background-color: white;
    color: #22543A;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


.day {
    margin-bottom: 10px;
}

.day p {
    margin-bottom: 5px;
}

.day label, .day input {
    display: inline-block;
}

.agent-form p {
    margin-top: 10px;
}
.agent-form label {
    padding-left: 15px;
}

.documents-page {
    background-color: #121212; 
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.documents-section {
    background-color: #22543A; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 60%;
    margin-top: 100px;
}

.documents-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.documents-section ul {
    list-style-type: none;
    padding: 0;
}

.documents-section ul li {
    margin: 15px 0;
}

.documents-section ul li a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
    transition: color 0.2s;
}

.documents-section ul li a:hover {
    color: #ff4b5c;
}
/* ... Styles existants ... */

.document-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.document-item img {
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;
}

.document-item:hover img {
    transform: scale(1.1);
    animation: pulse 1s infinite;
    box-shadow: 0 0 15px #FFF;
}

.document-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.document-viewer iframe {
    width: 80%;
    height: 80%;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;      /* Dimension du cercle */
    height: 40px;
    background-color: #ff4b5c;  /* Couleur rouge */
    color: white;     /* Couleur de la croix */
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%; /* Pour rendre le bouton rond */
    text-align: center;
    line-height: 40px;  /* Pour centrer la croix verticalement */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Une petite ombre pour un effet 3D */
}

.close-btn:hover {
    background-color: #e4394c; /* Un rouge légèrement plus foncé au survol */
}


/* ... Autres styles existants ... */

.document-viewer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 80vw;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    overflow: hidden;
}

.document-viewer.active {
    display: flex;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.document-viewer iframe {
    width: 100%;
    height: 100%;
    border: none;
}
